@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}

h1{
    color: goldenrod;
    font-weight: bold;
    margin: 32px 0;
}

p{
    color: white;
}

#message-el{
    font-style: italic;
    margin-bottom: 16px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
}

button{
    border: 2px solid darkgreen;
    background-color: goldenrod;
    color: white;
    width: 80px;
    padding: 8px;
    border-radius: 5px;
    margin: 8px;
}

#buttons{
    display: flex;
    justify-content: center;
}